.calendar-index-wrapper{
  background-color: #FFF;
  width: 980px;
  border: 1px solid #DADADA;
  border-radius: 6px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  .calendar-index-navbar{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 16px 24px 0;
    .options{
      display: flex;
      .option{
        padding: 0 15px 24px;
        a{
          color: black;
        }
        a:hover{
          text-decoration: none;
        }
      }
      .option.active{
        border-bottom: 2px solid blue;
      }
      .option.active:hover{
        border-bottom: 2px solid blue;
      }
      .option:hover{
        border-bottom: 2px solid gray;
      }
    }
  }
  .calls-container{
    .list-end{
      padding: 16px 28px 0;
      text-align: center;
      color: gray;
      font-size: 14px;
    }
    .date{
      padding: 16px 24px;
      border-bottom: 1px solid #DADADA;
      background-color: #F9F9F9;
    }
    .date:first-child{
      border-top: 1px solid #DADADA;
    }
    .calls-list{
      .call-list-item-container{
        border-bottom: 1px solid lightgray;
        transition: all 3s ease;
        transition-property: height, transform;
      }
      .call-list-item.expanded{
        transition: all 3s ease;
        transition-property: height, transform;
      }
      .call-list-item{
        display: flex;
        justify-content: space-between;
        padding: 20px 40px;
        align-items: center;
        p{margin: 0;}
        .details{
          display: flex;
          align-items: baseline;
          i{
            margin-right: 3px;
          }
        }
      }
      .user-info{
        display: flex;
        justify-content: center;
        ul{
          list-style: none;
        }
      }
    }
  }
}
